#editorjs {
}
#editorjsSubmit {
}
.add-form {
  max-width: 650px;
  position: relative;
}
.add-form-note {
  position: absolute;
  top: 1rem;
  left: -3rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  transform: rotate(-90deg);
  z-index: 10;
}
.add-form-button {
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}
.add-form-button div {
  margin-left: 3rem;
}

@media (max-width: 767px) {
  .add-form-button {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0;
  }
  .add-form-button div {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

.codex-editor__redactor {
  padding-bottom: 50px !important;
}
.ce-code {
  background-color: #2d2f3e;
  border-radius: 5px;
  padding: 4px 4px 4px 0;
}
.ce-code__textarea {
  font-family: Helvetica, Arial, sans-serif;
  color: #b5b9d5;
  line-height: 1.7;
  font-size: 0.75rem;
  background: transparent;
  border: 0;
  display: block;
  scrollbar-color: #b5b9d5 #2d2f3e;
  scrollbar-width: thin;
}
.ce-code__textarea.cdx-input {
  border-radius: 0;
  padding: 50px;
}
.ce-code__textarea::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #2d2f3e;
}

.ce-code__textarea::-webkit-scrollbar-thumb {
  background-color: #b5b9d5;
  border-radius: 2px;
}

.ce-code__textarea::-webkit-scrollbar-thumb:hover {
  background-color: #b5b9d5aa;
}
