.menu-collapse {
  position: relative;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 25px;
}
.menu-collapse.menu-collapse--visible {
  overflow: visible;
}
.menu-collapse.menu-collapse--ready {
  opacity: 1;
}
.menu-collapse.menu-collapse--no-more .menu-collapse__more {
  display: none;
}
.menu-collapse__item {
  display: inline-block;
  vertical-align: top;
  margin: 0 17px;
}
.menu-collapse :first-child {
  margin-left: 0;
}
.menu-collapse__more {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: #f9fafc;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}
.menu-collapse__more:hover {
  border-radius: 5px;
  background-color: #f27405;
  cursor: pointer;
}
.menu-collapse__more::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  margin: -2px 0 0 -2px;
  border-radius: 2px;
  background-color: #000000;
  box-shadow: 8px 0 0 #000000, -8px 0 0 #000000;
}
.menu-collapse__more:hover::before {
  background-color: #fff;
  box-shadow: 8px 0 0 #fff, -8px 0 0 #fff;
}
.menu-collapse__sub {
  /*position: absolute;
  top: 65px;
  right: 0;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  width: 300px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
  z-index: 100;*/
  position: absolute;
  top: 55px;
  left: calc(-125px + 20px);
  background-color: #fff;
  box-shadow: 0px 3px 6px #0000000d;
  padding: 20px;
  text-align: center;
  width: 250px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}
.menu-collapse__sub .menu-collapse__item {
  display: block;
  margin: 0 0 15px;
  white-space: normal;
}
.menu-collapse__sub :last-child {
  margin-bottom: 0;
}
.menu-collapse__more--show .menu-collapse__sub {
  opacity: 1;
  pointer-events: auto;
}
