<div class="solutions__item col-12 col-sm-6 col-lg-4">
  <div class="solutions__item__image"></div>
  <div class="solutions__item__title">Название решения</div>
  <div class="solutions__item__text">
    Описание решения, которое также будет выводится в меню шапки сайта.
  </div>
</div>
<div class="solutions__item col-12 col-sm-6 col-lg-4">
  <div class="solutions__item__image"></div>
  <div class="solutions__item__title">Название решения</div>
  <div class="solutions__item__text">
    Описание решения, которое также будет выводится в меню шапки сайта.
  </div>
</div>
<div class="solutions__item col-12 col-sm-6 col-lg-4">
  <div class="solutions__item__image"></div>
  <div class="solutions__item__title">Название решения</div>
  <div class="solutions__item__text">
    Описание решения, которое также будет выводится в меню шапки сайта.
  </div>
</div>
<div class="solutions__item col-12 col-sm-6 col-lg-4">
  <div class="solutions__item__image"></div>
  <div class="solutions__item__title">Название решения</div>
  <div class="solutions__item__text">
    Описание решения, которое также будет выводится в меню шапки сайта.
  </div>
</div>
<div class="solutions__item col-12 col-sm-6 col-lg-4">
  <div class="solutions__item__image"></div>
  <div class="solutions__item__title">Название решения</div>
  <div class="solutions__item__text">
    Описание решения, которое также будет выводится в меню шапки сайта.
  </div>
</div>
<div class="solutions__item col-12 col-sm-6 col-lg-4">
  <div class="solutions__item__image"></div>
  <div class="solutions__item__title">Название решения</div>
  <div class="solutions__item__text">
    Описание решения, которое также будет выводится в меню шапки сайта.
  </div>
</div>
<div class="text-center solutions__more">
  <div
    class="button button--xl button--gray"
    data-url="./components/solutions/download.html?PAGEN_1=3"
  >
    Больше
  </div>
</div>
